@charset "utf-8";
/* CSS Document */

html
{
    height: 100%;
}

body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    height: 100%;
    margin: 0;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    color: #fff;
    float: left;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.topnav a:not(.active):not(.home):hover {
    background-color: #111;
}

.home {
    background-color: #08b;
}

.home:hover{
    background-color: #005cbb;
}

.active {
    background-color: #c40233;
}

.active:hover{
    background-color: #9c0000;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-color: rgba(51,51,51,0.7);
    height: 100%;
    text-align: center;
    transition: 0.5s;
    width: 100%;
}

.layer:hover {
    background-color: rgba(51,51,51,0.5);
    color: rgba(0,0,23,1);
}

.layer:hover h1 {
    opacity: 1;
}

.layer:hover p {
    opacity: 1;
}

.layer:hover button {
    opacity: 1;
}

.layer h1 {
    color: #eee;
    padding-top: 20%;
    opacity: 0.2;
    text-shadow: 2px 2px 10px #333;
    transition: 0.5s;
}

.layer p {
    color: #ddd;
    font-weight: bold;
    opacity: 0;
    text-shadow: 2px 2px 10px #333;
    transition: 0.5s;
}

.layer button {
    background-color: #08b;
    border: 0;
    box-shadow: 2px 2px 10px #333;
    color: #eee;
    opacity: 0;
    transition: 0.5s;
    padding: 15px;
}

.content {
    background-color: #eee;
    padding: 10px 0;
}

}

.content title {
    text-align: center;
}

.content p:not(.quote):not(.center) {
    color: #333;
    padding: 10px;
    margin: 0px;
    text-indent:10mm;
}

.quote {
    margin-right: 25%;
    margin-left: 25%;
}

.quote p {
    color: #333;
    padding: 10px;
    text-indent:10mm;
    text-align:center;
}

.imgwithp img {
    float:left;
    width:20%;
}

.imgwithp p {
    float:right;
    width:75%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

h2 {
    font-size: 25px;
}

.fifth {
    float: left;
    width: 20%;
}

.fifth img {
    display: block;
    margin: auto;
    transition: 0.5s;
    width: 95%;
}

.fifth img:hover {
    box-shadow: 5px 5px 10px #333;
    margin: auto;
}

.clear {
    clear: both;
}

.footer {
    background-color: #333;
    font-size: 15px;
    padding: 10px;
}

.footer p {
    color: #888;
    text-align: left;
}

.buttonlist {
    background-color:#08b;
    overflow:hidden;
}

.buttonlist a {
    color: #fff;
    float: left;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.buttonlist a:hover {
    background-color:#005cbb;
}

a {
    color: #08b;
    font-size: inherit;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    text-shadow: 2px 2px 10px #08b;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    background-color: #444;
    display: none;
    position: absolute;
    min-width: 160px;
    margin-top: 48px;
    box-shadow: 2px 2px 10px #333;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 768px) {
    .topnav {
        position: relative;
    }
    
    .topnav a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .parallax {
        background-attachment: scroll;
    }
    
    .fourth {
        margin: 5px 0;
        width: 50%;
    }
    
    .divider {
        clear: both;
    }
}
